<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Согласие</title>
    <link rel="shortcut icon" href="/static/handshake.png" type="image/png">
</head>
<body>
<form action="/questions" method = 'GET'>
    <header style="background-color:Ivory">
    <fieldset>
        <legend><b>Опрос про современный русский язык</b></legend>
    <p>Нужно ответить на несколько коротких вопросов.</p>
    <hr>
    Согласны ли Вы пройти опрос?<br>
    <input type="radio" name="ask" value="yes" checked>Да<br>
    <p><input type="submit" value="Отправить"></p>
    </fieldset>
    </header>
</form>
</body>
<footer class="bs-docs-footer">
		<div class="container">
			<p style="text-align:right; ">&copy; Т. Казакова, 2019</p>
		</div>
</footer>
</html>